#parent{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
}

.cont{
    background-color: slateblue;
    margin: 10px;
}

.c1{
    grid-column-start: 1;
    grid-column-end: 12;
}

.c2{
    grid-column-start: 1;
    grid-column-end: 6;
}

.c3{
    grid-column-start: 6;
    grid-column-end: 12;
}

.c4{
    grid-column-start: 1;
    grid-column-end: 4;
}

.c5{
     grid-column-start: 4;
    grid-column-end: 8;
}

.c6{
     grid-column-start: 8;
    grid-column-end: 12;
}

.c7{
     grid-column-start: 1;
    grid-column-end: 3;
}

.c8{
     grid-column-start: 3;
    grid-column-end: 6;
}

.c9{
     grid-column-start: 6;
    grid-column-end: 9;
}

.c10{
     grid-column-start: 9;
    grid-column-end: 12;
}

.c11{
    grid-column-start: 1;
    grid-column-end: 2;
}

.c12{
     grid-column-start: 2;
    grid-column-end: 4;
}

.c13{
     grid-column-start: 4;
    grid-column-end: 6;
}

.c14{
     grid-column-start: 6;
    grid-column-end: 8;
}

.c15{
     grid-column-start: 8;
    grid-column-end: 10;
}

.c16{
     grid-column-start: 10;
    grid-column-end: 12;
}

.c17{
    grid-column-start: 1;
    grid-column-end: 2;
}