body {
  font-family: Arial;
  text-align: center;
}

.navbar a {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  border: 1px solid gray;
  padding: 15px;
  margin: 10px;
  width: 150px;
}

.counter button {
  padding: 5px 10px;
}

button {
  margin-top: 10px;
}